In [1]:
from load_dataset import load_dataset

df = load_dataset('dna_protein_coding_sequences')
df

   h
   u
   m
   a
   n
   _
   g
   e
   n
   o
   m
   e
   .
   z
   i
   p

,ID,sequence,category
0,NM_001368254.1,GCTGAGCTGAGCTGGGGCGCAGCCGCCTGTCTGCACCGGCAGCACC...,NM
1,NM_001350977.1,TCCACAACTGAAACATCCACTTCTGAACACCATGTCCTACTACAGC...,NM
2,NM_001256867.1,ATGGAGGACGACTCACTCTACTTGAGAGGTGAGTGGCAGTTCAACC...,NM
3,NM_001242328.1,ATGGAGGACGACTCACTCTACTTGAGAGGTGAGTGGCAGTTCAACC...,NM
4,NM_001256873.1,ATGGGGGACGACTCACTCTACTTGGGAGGTGAGTGGCAGTTCAACC...,NM
...,...,...,...
185305,NM_001256264.2,AGCTTCATGTGCTGCAGCAGCGCAGGTGACGGTGCCTCGACCAGCG...,NM
185306,NM_015157.4,ACAAACTAAACTCATTGAATTAGAACAGCACTTGTCCATCTCAAAG...,NM
185307,NM_001142857.2,AGTAACTGAGACCTCACCGCGTTGACCCAGCACCAGGGCTCGCGGG...,NM
185308,NM_001363973.3,AGTAACTGAGACCTCACCGCGTTGACCCAGCACCAGGGCTCGCGGG...,NM
185309,NM_001363974.2,AGTAACTGAGACCTCACCGCGTTGACCCAGCACCAGGGCTCGCGGG...,NM

In [2]:
from load_dataset import load_dataset

protein_coding_sequences_df = load_dataset('dna_protein_coding_sequences')
rna_sequences_df = load_dataset('rna_sequences') 
protein_sequences_df = load_dataset('protein_sequences')

   h
   u
   m
   a
   n
   _
   g
   e
   n
   o
   m
   e
   .
   z
   i
   p
   h
   u
   m
   a
   n
   _
   g
   e
   n
   o
   m
   e
   .
   z
   i
   p
   h
   u
   m
   a
   n
   _
   g
   e
   n
   o
   m
   e
   .
   z
   i
   p